<a href="https://colab.research.google.com/github/Az1mxoja/Colab/blob/main/%23_2_1_Pandas_Series_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas import Series

In [4]:
cars_dict = {
    "Malibu": 30000,
    "Captiva": 40000,
    "Hyundai": 38000,
    "Mercedes": 60000,
    "Tracker": 32000,
    "Toyota": 45000
}
cars_dict

{'Malibu': 30000,
 'Captiva': 40000,
 'Hyundai': 38000,
 'Mercedes': 60000,
 'Tracker': 32000,
 'Toyota': 45000}

In [5]:
cars1 = Series(cars_dict)
cars1

Malibu      30000
Captiva     40000
Hyundai     38000
Mercedes    60000
Tracker     32000
Toyota      45000
dtype: int64

In [6]:
models = cars_dict.keys()
models

dict_keys(['Malibu', 'Captiva', 'Hyundai', 'Mercedes', 'Tracker', 'Toyota'])

In [7]:
models1 = np.array(models)
models1

array(dict_keys(['Malibu', 'Captiva', 'Hyundai', 'Mercedes', 'Tracker', 'Toyota']),
      dtype=object)

In [9]:
fruits1 = {
    "Olma": 6000,
    "Banan": 19000,
    "Kivi": 18000,
    "Mandarin": 12000,
    "Apelsin": 20000,
    "Ananas": 48000
}
fruits1

{'Olma': 6000,
 'Banan': 19000,
 'Kivi': 18000,
 'Mandarin': 12000,
 'Apelsin': 20000,
 'Ananas': 48000}

In [10]:
sr_fruits1 = Series(fruits1)
sr_fruits1

Olma         6000
Banan       19000
Kivi        18000
Mandarin    12000
Apelsin     20000
Ananas      48000
dtype: int64

In [11]:
dic_fruits1 = dict(sr_fruits1)
dic_fruits1

{'Olma': 6000,
 'Banan': 19000,
 'Kivi': 18000,
 'Mandarin': 12000,
 'Apelsin': 20000,
 'Ananas': 48000}