<a href="https://colab.research.google.com/github/Az1mxoja/Colab/blob/main/%23_2_1_Pandas_Series_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lug'atdan Series yaratish

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
from pandas import Series

In [9]:
obj1 = Series([1, 2, 3, 4, 5], ['a)', 'b)', 'c)', 'd)', 'e)'])
obj1

a)    1
b)    2
c)    3
d)    4
e)    5
dtype: int64

In [10]:
dict1 = {
    "Malibu": 35000,
    "Nexia": 10000,
    "Hyundai": 46000,
    "BMW": 75000,
    "Tracker": 38000
}
dict1

{'Malibu': 35000,
 'Nexia': 10000,
 'Hyundai': 46000,
 'BMW': 75000,
 'Tracker': 38000}

In [11]:
dict_to_sr = Series(dict1)
dict_to_sr

Malibu     35000
Nexia      10000
Hyundai    46000
BMW        75000
Tracker    38000
dtype: int64

In [15]:
cars1 = Series(
    {"Malibu": 35000,
    "Nexia": 10000,
    "Hyundai": 46000,
    "BMW": 75000,
    "Tracker": 38000}
    )
cars1

Malibu     35000
Nexia      10000
Hyundai    46000
BMW        75000
Tracker    38000
dtype: int64

In [18]:
np.sort(cars1)

array([10000, 35000, 38000, 46000, 75000])

### `Series`ni berilgan tartib asosida yaratish

In [22]:
# Model bo'yicha tartiblash
models = np.sort(cars1.keys())
models

array(['BMW', 'Hyundai', 'Malibu', 'Nexia', 'Tracker'], dtype=object)

In [21]:
srt_cars = Series(cars1, index=models)
srt_cars

BMW        75000
Hyundai    46000
Malibu     35000
Nexia      10000
Tracker    38000
dtype: int64