<a href="https://colab.research.google.com/github/Az1mxoja/Colab/blob/main/first_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello Muslim')

Hello Muslim

# Heading
- [Kirish](https://mohirdev.uz)
- Muqaddima
- Data Science haqida asosiy tushunchalar

In [ ]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn
import torch
import tensorflow as tf
import keras

In [ ]:
np.__version__

'1.21.6'

In [ ]:
import matplotlib
matplotlib.__version__

'3.2.2'

In [ ]:
import torch

torch.cuda.is_available()

True

In [ ]:
! ls

sample_data

In [ ]:
import pandas as pd

files = pd.read_excel('./Data/ELMA.xlsx')
files.head()

   Unnamed: 0      Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN  Автокредит 2.0        NaN        NaN
1         NaN             NaN        NaN        NaN
2         NaN        Описание        NaN        NaN
3         NaN             NaN        NaN        NaN
4         NaN             NaN        NaN        NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')